html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	position: relative;
	height: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 18px;
}

html, body {
	-webkit-tap-highlight-color: transparent;
	max-width: 100%;
}

img{
	max-width: 100%;
}
