version: 2.1

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:12.6

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-v3-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      # - run:
      #     name: Bootstrap
      #     command: yarn run bootstrap
      - run:
          name: Install Sanity CLI
          command: sudo npm install -g --silent @sanity/cli
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-v3-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache
      - persist_to_workspace:
          root: ~/repo
          paths: .
  build-app-boilerplate:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Build Applications
          command: yarn run build:app-boilerplate
      - persist_to_workspace:
          root: ~/repo
          paths: .
  build-smarterlabs-com:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Build Applications
          command: yarn run build:smarterlabs.com
      - persist_to_workspace:
          root: ~/repo
          paths: .
  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Test
          command: yarn run test
  deploy-npm:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with npm
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/repo/.npmrc
      - run:
          name: Deploy Packages to npm
          command: yarn run publish
  deploy-app-boilerplate:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Deploy App Boilerplate to Production
          command: yarn run deploy:app-boilerplate
  deploy-smarterlabs-com:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Deploy smarterlabs.com to Production
          command: yarn run deploy:smarterlabs.com
workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy-npm:
          filters:
            branches:
              only: master
          requires:
            - test
      - build-smarterlabs-com:
          filters:
            branches:
              only: master
          context: smarterlabs.com
          requires:
            - test
      - build-app-boilerplate:
          filters:
            branches:
              only: master
          context: app-boilerplate
          requires:
            - test
      - deploy-smarterlabs-com:
          filters:
            branches:
              only: master
          context: smarterlabs.com
          requires:
            - build-smarterlabs-com
      - deploy-app-boilerplate:
          filters:
            branches:
              only: master
          context: app-boilerplate
          requires:
            - build-app-boilerplate